.background
  .user
    .edit
      %h7 アカウントを編集します
    .edit-form
      = form_for(current_user) do |f|
        .field
          .field-label
            = f.label :nickname
          .field-input
            = f.text_field :nickname, autofocus: true
        .field
          .field-label
            = f.label :email
          .field-input
            = f.email_field :email
        .actions
          = f.submit "update", class: 'btn'
  .bottom
    %h8 ログアウトはこちらから 
    = link_to "log out", destroy_user_session_path, method: :delete, class: 'btn'
    %h9 トップページに戻ります
    = link_to "TOP", root_path, class: 'btn'