.background
  .header
    .header__title
      %h1#edit-title
        投稿の編集
  .main
    .post-edit
    = form_for(@post_info, url: user_category_post_path(current_user.id,@category)) do |f|
      .post-edit__form-image
        %label
          %p 画像の変更
          = f.file_field :image, class: 'hidden'
          =icon('far', 'image', class: 'icon')
      .post-edit__form-content
        %label
          %p 投稿内容
          = f.text_field :content, class: "", placeholder: @post_info.content
      =f.submit '変更する', class: 'post-edit__btn'
      = link_to "削除", user_category_post_path(@post_info),method: :delete, class:'post_delete'
    .return
      = link_to "TOP", root_path, class: 'btn'
