.background
  .header
    .header__title
      %h1= @category.name
  .main
    - if @category.id < 5 
      .posts
        = render @posts
    - else
      .posts 
        = render @posts
      %label
        = link_to icon('fas', 'toilet', class: 'delete'), destroy_all_user_category_posts_path(current_user.id,@category.id,@posts),method: :delete, class:'post__delete_all'

    .return
      = link_to "TOP", root_path, class: 'btn'
  .form
    = form_for(@new_post, url: user_category_posts_path(current_user.id,@category)) do |f|
      .form__content
        =f.text_field :content, class: 'form__content__box', placeholder: ''
        .form__image
          =f.label :image, class: 'form__image__file' do
            =icon('far', 'image', class: 'icon')
            =f.file_field :image, class: 'hidden'
        =f.submit 'post', class: 'form__submit-btn'