.background
  .margin-top
  .user-edit
    = link_to edit_user_path(current_user), class: "user-edit__icon" do
      %i.fas.fa-user-edit
        .user-name
          = "#{current_user.nickname} さん"
  .categories-index
    - Category.all.first(4).each do |category|
      = link_to user_category_posts_path(current_user.id, category.id), id: "category--#{category.id}"do
        = category.name
    - Category.all.last(1).each do |category|
      = link_to user_category_posts_path(current_user.id, category.id), id: "category--#{category.id}"do
        %i.fas.fa-trash.fa-7x
  