.background
  .margin-top
  .user-edit
    = link_to edit_user_path(current_user), class: "user-edit__icon" do
      %i.fas.fa-user-edit
        .user-name
          = "#{current_user.nickname} さん"
  .categories-index
    = link_to "/categories/10/posts", class: "dust-box__icon" do
      %i.fas.fa-trash.fa-7x
    - current_user.categories.each do |category|
      = link_to category_posts_path(category) do
        = category.name